
body{
    background-image:url(../images/background.jpg);
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome{
    font-family: 'Space Mono', monospace;
    padding-left:20px;
    color:#6d0277;
}
.explain{
  border-radius: 20px;
  background-color:#eeeeeea9;
  margin: 20px;
  padding:10px;
}
img {
  height: 8em;
  margin-left:10px;
  margin-right:10px;
  margin-bottom:10px;
}
a:hover{
  filter:brightness(110%);
}
/*
font-family: 'Space Mono', monospace;
font-family: 'Concert One', cursive;
font-family: 'Tillana', cursive;
font-family: 'Asul', sans-serif;
font-family: 'Alike Angular', serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Neuton', serif;
font-family: 'Eczar', serif;
*/